.lead {
  padding: 0 0 92px 0;
  max-width: 984px;
  margin: 0 auto;
  width: calc(100% - 100px*2);
}
  
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0 48px 92px 48px;
    width: auto;
  }
}
  
@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding: 0 0 88px 0;
  }
 }
  
@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    padding: 0 0 66px 0;
  }
}