.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #FFFFFF;
  max-width: 720px;
  padding: 0px auto 0 auto;
  margin: 0 auto 32px auto;
  box-sizing: border-box;
}
  
@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 104%;
  }
}
  
@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    width: auto;
    font-size: 40px;
    line-height: 110%;
    margin: 0 14px 16px 18px;
  }
}
  