.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  max-width: 690px;
  min-height: 429px;
  padding: 0 396px 92px 100px;
  margin: 0 auto;
}
  
@media (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 286px;
  }
}
  
@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-left: 25px;
    padding-right: 24px;
    padding-bottom: 88px;
  }
}
  
@media (max-width: 320px) {
  .intro {
    min-height: 754px;
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
  }
}