.lead__subtitle {
  max-width: 640px;
  width: calc(100% - 86px*2);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 64px auto;
}
  
@media (max-width: 1024px) {
  .lead__subtitle {
    padding-right: 5px;
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    padding-right: 0px;
  }
}

@media (max-width: 706px) {
  .lead__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 40px;
    padding: 0 14px;
    max-width: 288px;
    width: auto;
  }
}