.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
  
@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
  
@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding: 87px 26px 24px 24px;
  }
}
  
@media (max-width: 710px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    padding: 64px 118px 24px 16px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 200px;
    padding: 64px 110px 24px 16px;
    min-height: 310px;
  }
}

