.header__list {
  list-style: none;
  padding: 18px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
  
@media screen and (max-width: 320px) {
  .header__list {
    padding-top: 17px;
  }
}