.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 40px 0;
}
  
@media (max-width: 706px) {
  .intro__title {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
    padding-right: 41px;
  }
}